<style>
    .card-0 {
    min-height: 110vh;
    background: linear-gradient(-20deg, rgb(255, 255, 255) 50%, #0275d8 50%);
    color: white;
    border: 0px;
}

p {
    font-size: 15px;
    line-height: 25px !important;
    font-weight: 500;


}

.container {
    padding-top: 100px !important;
    border-radius: 20px;
}



.btn {
    letter-spacing: 1px;
}

select:active{
    box-shadow: none !important;
    outline-width: 0 !important;

}
select:after{
    box-shadow: none !important;
    outline-width: 0 !important;

}
input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 0px !important;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    resize: none;

}

select:focus,
input:focus {
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

label {
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: 14px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.form-control {
    height: calc(2em + .75rem + 3px);
}

.inner-card {
    margin: 79px 0px 70px 0px;
}

.card-0 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-1 {
    border-radius: 17px;
    color: black;
    box-shadow: 2px 4px 15px 0px rgb(0, 0, 0 , 0.5) !important;
}

#file {
    border: 2px dashed #92b0b3 !important;

}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    content: attr(data-before);
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}


#file {
    display: inline-block;
    width: 100%;
    padding: 95px 0 0 100%;
    background: url('https://i.imgur.com/VXWKoBD.png') top center no-repeat #fff;
    background-size: 55px 55px;
}

</style>
<app-header />
<div class="text-center py-5 rounded-2" style="background-image: url('assets/images/BackgroundImg.jpg');">
    <h1 class="display-6 fw-bold">Product Registration</h1>
</div>
<!-- <div class="container" style="max-width: 960px;">
    <form #form="ngForm" (submit)="onSubmit(form)"
[class.submitted]="service.formSubmitted">
    <div class="mb-3">
        <label>Product Model</label>
        <input class="form-control form-control-lg" 
        placeholder="Product Model"
        #productModel="ngModel" name="productModel"
        [(ngModel)]="service.formData.productModel" required>
    </div>
    <div class="mb-3">
        <label>Product Brand</label>
        <input class="form-control form-control-lg" 
        placeholder="Product Brand"
        #productBrand="ngModel" name="productBrand"
        [(ngModel)]="service.formData.productBrand" required>
    </div>
    <div class="mb-3">
        <label>Product Color</label>
        <input class="form-control form-control-lg" 
        placeholder="Product Color"
        #productColor="ngModel" name="productColor"
        [(ngModel)]="service.formData.productColor" required>
    </div>
    <div class="mb-3">
        <label>Product Price</label>
        <input class="form-control form-control-lg" 
        placeholder="Product Price"
        #productPrice="ngModel" name="productPrice"
        [(ngModel)]="service.formData.productPrice" required>
    </div>
    <div class="mb-3">
        <label>Product Image</label>
        <input class="form-control form-control-lg" type="file" placeholder="Product Image"
        #productImageUrl="ngModel" name="productImageUrl" [(ngModel)]="service.formData.productImageUrl"
        (change)="onFileSelected($event)">
    </div>
    <div class="mb-3" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Uploaded Image" style="max-width: 30%; max-height: 10%;">
      </div>

    <div class="d-grid">
        <button class="btn btn-lg btn-primary" type="submit">
            Submit
        </button>
    </div>

</form>
</div> -->
<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted">
<div class="container card-0 justify-content-center ">
    <div class="card-body px-sm-4 px-0">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col"><h3 class="font-weight-bold ml-md-0 mx-auto text-center text-sm-left"> Register a new product </h3><p class="mt-md-4  ml-md-0 ml-2 text-center text-sm-left"> Add all the following details and attach 3 images of the product.</p></div>
        </div>
        <div class="row justify-content-center round">
            <div class="col-lg-12 col-md-12 ">
                <div class="card shadow-lg card-1">
                    <div class="card-body inner-card">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="product-brand">Product Brand</label>
                                    <input type="text" class="form-control" placeholder="Product Brand" #productBrand="ngModel" name="productBrand" [(ngModel)]="service.formData.productBrand">
                                </div>
                                <div class="form-group"> <label for="productWidth">Product Width</label> <input type="text" class="form-control"
                                        placeholder="Product Width (mm)" #productWidth="ngModel" name="productWidth"
                                        [(ngModel)]="service.formData.productWidth"> </div>
                                <div class="form-group"> <label for="productDisplayType">Product Display Type</label> <input type="text"
                                        class="form-control" placeholder="Product Display Type" #productDisplayType="ngModel" name="productDisplayType"
                                        [(ngModel)]="service.formData.productDisplayType"></div>
                                <div class="form-group"> <label for="productFrontCamera">Product Front Camera</label> <input type="text"
                                        class="form-control" placeholder="Product Front Camera" #productFrontCamera="ngModel" name="productFrontCamera"
                                        [(ngModel)]="service.formData.productFrontCamera"> </div>
                                <div class="form-group">
                                    <label for="productMemoryRAM">Product Memory RAM</label>
                                    <input type="text" class="form-control" placeholder="Product Memory RAM (GB)" #productMemoryRAM="ngModel"
                                        name="productMemoryRAM" [(ngModel)]="service.formData.productMemoryRAM">
                                </div>
                              
                                <div class="form-group">
                                    <label for="product-os">Product OS</label>
                                    <input type="text" class="form-control" placeholder="Product Operating System" #productOS="ngModel" name="productOS" [(ngModel)]="service.formData.productOS">
                                  </div>
                                          
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                <div class="form-group"><label for="productModel">Product Model</label><input type="text" class="form-control"
                                    placeholder="Product Model" #productModel="ngModel" name="productModel"
                                    [(ngModel)]="service.formData.productModel"> </div>
                                  <div class="form-group">
                                    <label for="product-height">Product Height</label>
                                    <input type="email" class="form-control" placeholder="Product Height (mm)" #productHeight="ngModel" name="productHeight" [(ngModel)]="service.formData.productHeight">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-display-size">Product Display Size</label>
                                    <input type="text" class="form-control" placeholder="Product Display Size (inches)" #productDisplaySize="ngModel" name="productDisplaySize" [(ngModel)]="service.formData.productDisplaySize">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-rear-camera">Product Rear Camera</label>
                                    <input type="text" class="form-control" placeholder="Product Rear Camera" #productRearCamera="ngModel" name="productRearCamera" [(ngModel)]="service.formData.productRearCamera">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-memory-rom">Product Memory ROM</label>
                                    <input type="text" class="form-control" placeholder="Product Memory ROM (GB)" #productMemoryROM="ngModel" name="productMemoryROM" [(ngModel)]="service.formData.productMemoryROM">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="productRelDate">Product Release Date</label>
                                    <input type="text" class="form-control" placeholder="Product Release Date (e.g March 2020)" #productRelDate="ngModel"
                                        name="productRelDate" [(ngModel)]="service.formData.productRelDate">
                                </div>

                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="product-color">Product Color</label>
                                    <input type="text" class="form-control" placeholder="Product Color" #productColor="ngModel" name="productColor" [(ngModel)]="service.formData.productColor">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-weight">Product Weight</label>
                                    <input type="email" class="form-control" placeholder="Product Weight (grams)" #productWeight="ngModel" name="productWeight" [(ngModel)]="service.formData.productWeight">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-resolution">Product Resolution</label>
                                    <input type="text" class="form-control" placeholder="Product Resolution" #productResolution="ngModel" name="productResolution" [(ngModel)]="service.formData.productResolution">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-battery">Product Battery</label>
                                    <input type="text" class="form-control" placeholder="Product Battery (mAh)" #productBattery="ngModel" name="productBattery" [(ngModel)]="service.formData.productBattery">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-processor">Product Processor</label>
                                    <input type="text" class="form-control" placeholder="Product Processor" #productProcessor="ngModel" name="productProcessor" [(ngModel)]="service.formData.productProcessor">
                                  </div>
                                  
                                  <div class="form-group">
                                    <label for="product-price">Product Price</label>
                                    <input type="text" class="form-control" placeholder="Product Price (RM)" #productPrice="ngModel" name="productPrice" [(ngModel)]="service.formData.productPrice">
                                  </div>   
                            </div>
                        </div>
                
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-10 col-12">
                                <div class="form-group files"><label class="my-auto">Upload Your File </label> 
                                    <input id="file" type="file" class="form-control" (change)="onFileSelected($event)" multiple />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-10 col-12">
                              <div class="form-group files" *ngIf="previews.length > 0">
                                <label class="my-auto">Image Previews</label>
                                <div class="row">
                                  <div class="col-md-3" *ngFor="let preview of previews">
                                    <img [src]="preview" class="img-fluid img-thumbnail" alt="Image preview" style="max-width: 300px; max-height: 400px;" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-10 col-12">
                                <div class="row justify-content-end mb-5">
                                    <div class="col-lg-12 col-auto "><button type="submit" class="btn btn-primary btn-block"><small
                                                class="font-weight-bold">Register Product</small></button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<app-footer />