<style>


 .card {
     position: relative;
     display: flex;
     width: 450px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 4px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

 .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 p {
     font-size: 14px
 }

 h4 {
     margin-top: 18px
 }

 .cross {
     padding: 10px;
     color: #d6312d;
     cursor: pointer
 }

 .continue:focus {
     outline: none
 }

 .continue {
     border-radius: 5px;
     text-transform: capitalize;
     font-size: 13px;
     padding: 8px 19px; 
     cursor: pointer;
     color: #fff;
     background-color: #D50000
 }

 .continue:hover {
     background-color: #D32F2F !important
 }
</style>
<app-header />
<div class="text-center py-5 rounded-2" style="background-image: url('assets/images/BackgroundImg.jpg');">
    <h1 class="display-6 fw-bold">Check IMEI Number</h1>
</div>
<div class="container" style="max-width: 960px;">
    <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="mb-3">
            <h3>Please input your IMEI Number for Authentication</h3>
            <input class="form-control form-control-lg" 
            placeholder="Please enter your IMEI Number"
            #serialNumber="ngModel" name="serialNumber"
            [(ngModel)]="serviceOwner.serialNumber">
        </div>
        <div class="d-grid justify-content-center">
            <button class="btn btn-lg btn-primary" type="submit">
                Submit
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" #errorModal>
        <div class="modal-dialog" role="document">
            <div class="card">
                <div class="text-right cross"> <i class="fa fa-times"></i> </div>
                <div class="card-body text-center"> <img src="assets/images/BadError.jpg" style="max-width: 40%; max-height: 30%;">
                    <h4>Error - Invalid IMEI</h4>
                    <p>Your IMEI is invalid. Please check and try again</p> <button class="btn btn-out btn-square continue">CONTINUE</button>
                </div>
            </div>
        </div>
      </div>

</div>
<app-footer />