<form #form="ngForm" (submit)="onSubmit(form)"
[class.submitted]="service.formSubmitted" novalidate>
    <input type="hidden" name="warrantyDetailId" [value]="service.formData.warrantyDetailId">
    <div class="mb-3">
        <label>First Name</label>
        <!-- <input class="form-control form-control-lg" 
        placeholder="First Name"
        #ownerFirstName="ngModel" name="ownerFirstName"
        [(ngModel)]="service.formData.ownerFirstName" required> -->
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <!-- <input class="form-control form-control-lg" 
        placeholder="Last Name"
        #ownerLastName="ngModel" name="ownerLastName"
        [(ngModel)]="service.formData.ownerLastName" required> -->
    </div>
    <div class="mb-3">
        <label>Email Address</label>
        <!-- <input class="form-control form-control-lg" 
        placeholder="Email Address"
        #emailAddress="ngModel" name="emailAddress"
        [(ngModel)]="service.formData.emailAddress" required> -->
    </div>
    <div class="mb-3">
        <label>Phone Number</label>
        <!-- <input class="form-control form-control-lg" 
        placeholder="Phone Number"
        #phoneNum="ngModel" name="phoneNum"
        [(ngModel)]="service.formData.phoneNum" required> -->
    </div>
    <div class="mb-3">
        <label>Expiration Date</label>
        <input class="form-control form-control-lg" 
        placeholder="Expiration Date"
        #expirationDate="ngModel" name="expirationDate"
        [(ngModel)]="service.formData.expirationDate" required>
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit">
            Submit
        </button>
    </div>

</form>