<style>
    body{
        background:#E0E0E0;
    }
    /* .details {
        border: 1.5px solid grey;
        color: #212121;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px #212121;
    }

    .cart {
        background-color: #212121;
        color: white;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 900;
        width: 100%;
        height: 39px;
        padding-top: 9px;
        box-shadow: 0px 5px 10px  #212121;
    }

    .card {
        width: fit-content;
        margin-bottom: 1.5rem;
    }

    .card-body {
        width: fit-content;
    }

    .btn {
        border-radius: 0;
    }

    .img-thumbnail {
        border: none;
        max-height: 200px;
        object-fit: cover;
    }

    .cvp {
        margin-top: 1rem;
    }

    .card {
        box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
        border-radius: 5px;
        padding-bottom: 10px;
    } */

    /* Newwwwwwwww */
    /* Ensure all cards are the same size */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: 200px; /* Fixed height for the images */
  object-fit: cover; /* Ensures images cover the specified area without distortion */
}

.card-body {
  flex: 1; /* Makes sure the card body takes up available space */
}

/* Center-align text and buttons */
.card-title {
  font-weight: bold;
}

.card-text {
  margin: 10px 0; /* Add margin for spacing */
}

/* Uniform button styling */
.btn {
  width: 100%; /* Make buttons fill the width of the card */
  padding: 10px;
  font-size: 16px;
}

.details {
  background-color: #007bff; /* Primary button color */
  color: #fff;
}

.cart {
  background-color: #00e2b1; /* Secondary button color */
  color: #fff;
}

.cart:hover, .details:hover {
  opacity: 0.8; /* Slightly change opacity on hover */
}

.mt-2 {
  margin-top: 10px;
}


    /* Modal style */
    /* html{
        height: 100%;
        background: linear-gradient(90deg, rgb(234, 199, 243) 0%, rgb(243, 141, 240) 100%)
    }
    head, body{
        background: linear-gradient(90deg, rgb(234, 199, 243) 0%, rgb(243, 141, 240) 100%)
    } */
    .container{
        display: flex;
        justify-content: center;
        margin-top: 200px;
        background: transparent
    }
    .trigger{
        background-color: black;
        color: red
    }
    .modal, .fade, .show{
        background-color: lightgray
    }
    .modal-content{
        background: transparent;
        border: none;
        padding: 0 19px
    }
    .modal-header{
        border: none
    }
    .close{
        position: absolute !important;
        right: 0;
        z-index: 1;
        border: 7px solid lightgray !important;
        width: 5px;
        height: 5px;
        border-radius: 10rem;
        background-color: #ECEFF1 !important;
        opacity: 1;
        top: 35px;
        right: 25px
    }
    .close>span{
        position: relative;
        bottom: 16px;
        right: 9px;
        font-size: 28px;
        background-color: transparent
    }
    .modal-body{
        border: none;
        background-color: #ECEFF1;
        border-radius: 8px;
        padding-bottom: 50px
    }
    .modal-footer{
        border: none;
        flex-direction: column;
        background-color: #ECEFF1;
        margin: 0 19px;
        position: relative;
        bottom: 160px
    }
    .btn.focus, .btn:focus{
        outline: 0;
        box-shadow: none !important
    }
    .close.focus, .close:focus{
        outline: 0;
        box-shadow: none !important
    }
    .okay{
        width: 100px;
        height: 50%;
        background-color: black;
        color: white
    }
    /* .setting{
        margin-left: 10px;
        padding-top: 5px
    } */
    @media(max-width:600px){
        .modal-footer{
            bottom: 100px
        }
    }
    @media (max-width:320px){
        .modal-footer{
            bottom: 90px
        }
        .setting{
            margin-left: 6px;
            padding-top: 5px;
            font-size: 14px
        }
    }


</style>
<app-header />
<div class="text-center py-5 rounded-2" style="background-image: url('assets/images/BackgroundImg.jpg');">
    <h1 class="display-6 fw-bold">All Products</h1>
</div>

<!-- <div class="container mt-5" style="max-width: 70%;">
    <div class="row">
        <div class="col-5 mb-4" style="flex: 0 0 auto; width: 20%;"  *ngFor="let pd of detailService.productList">
        <div class="card mx-auto">
            <img class='mx-auto img-thumbnail'
                [src]="pd.productImageUrl1"
                alt="{{pd.productModel}}"
                style="width: 100%; height: auto;">
            <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold">{{pd.productModel}}</h5>
                <p class="card-text">RM {{pd.productPrice}}</p>
                <a class="btn details px-auto" (click)="navigateToPage(pd.productDetailId)">View Details</a><br />
                <a class="btn cart px-auto" (click)="openModal(); selectProductDetailId(pd.productDetailId) ">Buy Now</a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div> -->
<div class="container mt-5" style="max-width: 80%;">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let pd of detailService.productList">
        <div class="card">
          <img class="card-img-top" [src]="pd.productImageUrl1" alt="{{pd.productModel}}" />
          <div class="card-body text-center">
            <h5 class="card-title">{{pd.productModel}}</h5>
            <p class="card-text">RM {{pd.productPrice}}</p>
            <a class="btn btn-outline-primary" (click)="navigateToPage(pd.productDetailId)">View Details</a><br />
            <a class="btn btn-outline-success mt-2" (click)="openModal(); selectProductDetailId(pd.productDetailId)">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Buy Now -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #exampleModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-none">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="crop">
            <img src="assets/images/SuccessPurchase.jpg" width="100%">
          </div>
        </div>
        <div class="modal-footer">
          <h2>Woohoo</h2>
          <p class="text-center"><small class="text-muted">Thank you for your purchase. You'll be directed to the page of your product shortly.</small></p>
          <div class="d-flex justify-content-center">
            
            <form #form="ngForm" (submit)="purchaseProduct(form)"
            [class.submitted]="ownerService.formSubmitted" novalidate>
            <div class="mb-3">
                <label>First Name</label>
                <input class="form-control form-control-lg" 
                placeholder="First Name"
                #ownerFirstName="ngModel" name="ownerFirstName"
                [(ngModel)]="ownerService.formData.ownerFirstName" required>
            </div>
            <div class="mb-3">
                <label>Last Name</label>
                <input class="form-control form-control-lg" 
                placeholder="Last Name"
                #ownerLastName="ngModel" name="ownerLastName"
                [(ngModel)]="ownerService.formData.ownerLastName" required>
            </div>
            <div class="mb-3">
                <label>Email Address</label>
                <input class="form-control form-control-lg" 
                placeholder="Email Address"
                #emailAddress="ngModel" name="emailAddress"
                [(ngModel)]="ownerService.formData.emailAddress" required>
            </div>
            <div class="mb-3">
                <label>Phone Number</label>
                <input class="form-control form-control-lg" 
                placeholder="Phone Number"
                #phoneNum="ngModel" name="phoneNum"
                [(ngModel)]="ownerService.formData.phoneNum" required>
            </div>
            <div class="d-grid">
                <button class="btn btn-lg btn-success" data-bs-dismiss="modal" type="submit">
                    Submit
                </button>
            </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal error -->
<!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" #errorModal>
    <div class="modal-dialog" role="document">
        <div class="card">
            <div class="text-right cross"> <i class="fa fa-times"></i> </div>
            <div class="card-body text-center"> <img src="assets/images/BadError.jpg" style="max-width: 40%; max-height: 30%;">
                <h4>Login to buy this product</h4>
                <p>Your purchase details are required to purchase this product..</p> 
                <button type="button" class="btn btn-primary" (click)="routeToLogin()">Login</button>
            </div>
        </div>
    </div>
  </div> -->

  <!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" #errorModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Login required</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card-body text-center"> 
                <img src="assets/images/Login-amico.png" style="max-width: 40%; max-height: 30%;">
                <h4>Please login to purchase this product</h4>
                <p>Make your purchase by login to buy this product</p>
            </div>
        </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="routeToLogin()">Login</button>
      </div>
    </div>
  </div>

  <!-- out of stock -->
  <div class="modal fade" id="outModal" tabindex="-1" aria-labelledby="outModalLabel" aria-hidden="true" #outModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="outModalLabel">Out of stock</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card-body text-center"> 
                <img src="assets/images/Login-amico.png" style="max-width: 40%; max-height: 30%;">
                <h4>Oops sorry!</h4>
                <p>Product is currently out of stock. Please check again later</p>
            </div>
        </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

<app-footer />