<style>
    body{
        background:#E0E0E0;
    }
    .details {
        border: 1.5px solid grey;
        color: #212121;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px #212121;
    }

    .cart {
        background-color: #212121;
        color: white;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 900;
        width: 100%;
        height: 39px;
        padding-top: 9px;
        box-shadow: 0px 5px 10px  #212121;
    }

    .card {
        width: fit-content;
        margin-bottom: 1.5rem;
    }

    .card-body {
        width: fit-content;
    }

    .btn {
        border-radius: 0;
    }

    .img-thumbnail {
        border: none;
        max-height: 200px;
        object-fit: cover;
    }

    .cvp {
        margin-top: 1rem;
    }

    .card {
        box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
        border-radius: 5px;
        padding-bottom: 10px;
    }

    /* Modal style */
    /* html{
        height: 100%;
        background: linear-gradient(90deg, rgb(234, 199, 243) 0%, rgb(243, 141, 240) 100%)
    }
    head, body{
        background: linear-gradient(90deg, rgb(234, 199, 243) 0%, rgb(243, 141, 240) 100%)
    } */
    .container{
        display: flex;
        justify-content: center;
        margin-top: 200px;
        background: transparent
    }
    .trigger{
        background-color: black;
        color: red
    }
    .modal, .fade, .show{
        background-color: lightgray
    }
    .modal-content{
        background: transparent;
        border: none;
        padding: 0 19px
    }
    .modal-header{
        border: none
    }
    .close{
        position: absolute !important;
        right: 0;
        z-index: 1;
        border: 7px solid lightgray !important;
        width: 5px;
        height: 5px;
        border-radius: 10rem;
        background-color: #ECEFF1 !important;
        opacity: 1;
        top: 35px;
        right: 25px
    }
    .close>span{
        position: relative;
        bottom: 16px;
        right: 9px;
        font-size: 28px;
        background-color: transparent
    }
    .modal-body{
        border: none;
        background-color: #ECEFF1;
        border-radius: 8px;
        padding-bottom: 50px
    }
    .modal-footer{
        border: none;
        flex-direction: column;
        background-color: #ECEFF1;
        margin: 0 19px;
        position: relative;
        bottom: 160px
    }
    .btn.focus, .btn:focus{
        outline: 0;
        box-shadow: none !important
    }
    .close.focus, .close:focus{
        outline: 0;
        box-shadow: none !important
    }
    .okay{
        width: 100px;
        height: 50%;
        background-color: black;
        color: white
    }
    /* .setting{
        margin-left: 10px;
        padding-top: 5px
    } */
    @media(max-width:600px){
        .modal-footer{
            bottom: 100px
        }
    }
    @media (max-width:320px){
        .modal-footer{
            bottom: 90px
        }
        .setting{
            margin-left: 6px;
            padding-top: 5px;
            font-size: 14px
        }
    }


</style>
<app-header />
<div class="text-center py-5 rounded-2" style="background-image: url('assets/images/BackgroundImg.jpg');">
    <h1 class="display-6 fw-bold">All Products</h1>
</div>

<div class="container mt-5" style="max-width: 70%;">
    <div class="row">
        <div class="col-5 mb-4" style="flex: 0 0 auto; width: 20%;"  *ngFor="let pd of detailService.productList">
        <div class="card mx-auto">
            <img class='mx-auto img-thumbnail'
                [src]="pd.productImageUrl"
                alt="{{pd.productModel}}"
                style="width: 100%; height: auto;">
            <div class="card-body text-center mx-auto">
            <div class='cvp'>
                <h5 class="card-title font-weight-bold">{{pd.productModel}}</h5>
                <p class="card-text">RM {{pd.productPrice}}</p>
                <a href="#" class="btn details px-auto">View Details</a><br />
                <a class="btn cart px-auto" (click)="openModal(); selectProductDetailId(pd.productDetailId) ">Buy Now</a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #exampleModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-none">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="crop">
            <img src="assets/images/SuccessPurchase.jpg" width="100%">
          </div>
        </div>
        <div class="modal-footer">
          <h2>Woohoo</h2>
          <p class="text-center"><small class="text-muted">Thank you for your purchase. You'll be directed to the page of your product shortly.</small></p>
          <div class="d-flex justify-content-center">
            
            <form #form="ngForm" (submit)="purchaseProduct(form)"
            [class.submitted]="ownerService.formSubmitted" novalidate>
            <div class="mb-3">
                <label>First Name</label>
                <input class="form-control form-control-lg" 
                placeholder="First Name"
                #ownerFirstName="ngModel" name="ownerFirstName"
                [(ngModel)]="ownerService.formData.ownerFirstName" required>
            </div>
            <div class="mb-3">
                <label>Last Name</label>
                <input class="form-control form-control-lg" 
                placeholder="Last Name"
                #ownerLastName="ngModel" name="ownerLastName"
                [(ngModel)]="ownerService.formData.ownerLastName" required>
            </div>
            <div class="mb-3">
                <label>Email Address</label>
                <input class="form-control form-control-lg" 
                placeholder="Email Address"
                #emailAddress="ngModel" name="emailAddress"
                [(ngModel)]="ownerService.formData.emailAddress" required>
            </div>
            <div class="mb-3">
                <label>Phone Number</label>
                <input class="form-control form-control-lg" 
                placeholder="Phone Number"
                #phoneNum="ngModel" name="phoneNum"
                [(ngModel)]="ownerService.formData.phoneNum" required>
            </div>
            <div class="d-grid">
                <button class="btn btn-lg btn-success" data-bs-dismiss="modal" type="submit">
                    Submit
                </button>
            </div>
        </form>
            
            <!-- <button type="button" class="okay btn btn-primary" data-bs-dismiss="modal">Ok</button> -->
            <!-- <p class="setting ms-2"><small><strong><u>Setting</u></strong></small></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  

<app-footer />